.footer {
    background-color: #9EC84A;
    color: white;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.social_list li {
    margin: 0 1em;

}

.social_list li:hover {
    color: rgba(228, 62, 62, 0.603);

}

.social_list svg {
    font-size: 1,5em;
    cursor: pointer;

}

.copy_right {
    margin-top: 2em;


}

.copy_right span {
    font-weight: bold;
    color: rgb(230, 91, 91);

}